<!DOCTYPE html>
<html lang="en">
<head>
    <style></style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario NodeJS</title>
</head>
<body>
    <form action="result" method="post" class="form-contr">
        <input type="number" placeholder="Desde..." name="a" id="" required min="2"> 
        <input type="number" placeholder="Hasta..." name="b" id="" required min="2"> 
        <input type="submit">
    </form>
    <h1 class="flux-h1">President Number</h1>
</body>
</html>